/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'd3_network';
@import 'users';


button {
  background-color: white;
  border-radius: 4px;
}
.side-pan {
  height: 25em;
  background-color: white;
  box-shadow: 2px 2px 1px #F1F1F1;
  padding: 1em;
  position: sticky;
  // border: thin solid rgb(38, 164, 36);
  // margin-left: -2px;
  z-index: 1000;
  .close-btn {
    position: absolute;
    right: 0px;
    top: 2px;
    cursor: pointer;
    font-size: x-large;
    border-radius: 0 2em 2em 0;
    background-color: rgba(0,0,0, 0.1);
    // border: thin solid grey;
    // border-radius: 50%;
    width: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.side-pan-left {
  bottom: 8vh;
  width: 60vw;
  // left: 0;
  border-radius: 0 1em 1em 0;
  background-color: rgba(245,245,245,1);
}
.side-pan-right{
  top: 3em;
  width: 46vw;
  left: 35vw;
  padding-right: 14vw;
  border-radius: 1em 0 0 1em;
  background-color: rgba(245,245,245,1);
}
#right-control-button {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10em 0 0 10em;
  width: 11vw;
  height: 27em;
  background-color: rgba(0,0,0, 0.1);
  position: sticky;
  top: 3em;
  left: 100vw;
  margin-right: -10px;
  z-index: 3000;
  display: flex;
}
.slideRight-enter {
  // left: -20em;
  margin-left: -70vw;
}
.slideRight-enter-active {
  transition: margin-left 0.5s ease-out;
  // left: 0;
}
.slideRight-leave {
  // left: 0;
}
.slideRight-leave-active {
  transition: margin-left 0.5s ease-in;
  margin-left: -70vw;
}
///////////////////////////
.slideLeft-enter {
  left: 100vw;
}
.slideLeft-enter-active {
  transition: left 0.5s ease-out;
  // right: 0;
}
.slideLeft-leave {
  // right: 0;
}
.slideLeft-leave-active {
  transition: left 0.5s ease-in;
  left: 100vw;
}
#controls {
  // width: 100%;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;
  position: absolute;
  // background-color: white;
  line-height: 1.5;
}
.notice-msg {
  color: #FF321AFF;
}
#search_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.refText {
  color: rgb(200,130,80);
}
