/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'd3_network';
@import 'users';


button {
  background-color: white;
  border-radius: 4px;
}
.left-pan {
  width: 20em;
  height: 25em;
  background-color: white;
  box-shadow: 2px 2px 1px #F1F1F1;
  padding: 1em;
  position: sticky;
  top: 10em;
  left: 0;
  // border: thin solid rgb(38, 164, 36);
  border-radius: 0 1em 1em 0;
  margin-left: -2px;
  .close-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    font-size: x-large;
    border: thin solid grey;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slide-enter {
  left: -20em;
}
.slide-enter-active {
  transition: left 0.5s ease-out;
  // left: 0;
}
.slide-leave {
  // left: 0;
}
.slide-leave-active {
  transition: left 0.5s ease-in;
  left: -20em;
}
